<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Linux Space Blog</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'techlog/css/style.css' %}">
</head>
<body>

  <h1>Linux Space Blog</h1>

  {% for post in posts %}
    <div>
      <h2>{{ post.title }}</h2>
      <p>{{ post.created_at|date:"Y-m-d H:i" }}</p>
      <p>{{ post.content|truncatewords:30 }}</p>
      <hr>
    </div>
  {% empty %}
    <p>Пока нет постов...</p>
  {% endfor %}

</body>
</html>

